*{
	margin:0;
	padding:0;
}
body{
	font-family:"Microsoft YaHei";
	font-size:12px;
	background:#EDEDEF;
}
ul,li{
	list-style:none;
}
img{
	border:none;
}
a{
	text-decoration:none;
	outline:none;
}
.clear{
	clear:both;
}
/*header start*/
.header{
	position:relative;
	margin:0 auto;
	width:100%;
	height:84px;
	background:#24292C;
	min-width:930px;
}
.container{
	position:relative;
	width:930px;
	margin:0 auto;
}
.logo{
	background:url("../lofter-master/images/hd24.png") no-repeat;
	position:relative;
	width:200px;
	height:44px;
	background-position:0 0;
	float:left;
	margin-top:20px;
}
.header-nav{
	position:relative;
	margin-left:177px;
	height:84px;
	float:left;
}
.header-nav li{
	float:none;
	position:relative;
	list-style:none;
	display:inline-block;
	padding-right:33px;
	font-size:16px;
	line-height:31px;
	margin-top:34px;
}		
.header-nav li.active a{
	color: #fff;
}
.header-nav li a{
	text-decoration:none;
	color:#999999;
}
.header a:hover{
	color:white;
}
.header .hearder-more-hover:hover .header-more{
	background-position:-22px 0px;
}
.header-arrow{
	background:url("../lofter-master/images/hd24.png") no-repeat;
}
.header-more,.search-btn,.search-btn2{
	background:url("../lofter-master/images/icon4-24.png") no-repeat;
}
.header-nav li .header-arrow{
	position:absolute;
	margin-bottom:0px;
	background-position:-118px -130px;
	height:20px;
	left:8px;
	width:20px;
	display:block;
}
.header-more{
	display:inline-block;
	height:10px;
	width:10px;
	margin-left:7px;
	background-position:0px 0px;
}
.header-search .search-box{
	position:relative;
	height:30px;
	line-height:30px;
	width:230px;
	border-radius:15px;
	background:#000000;
	float:left;
	margin-top:34px;
	overflow: hidden;
	
}
.search-box .search-btn{
	height:22px;
	width:22px;
	display:inline-block;
	top:5px;
	margin-left:10px;
	border:none;
	background-position:0 -76px;
}
.search-box .search-btn:hover{
	background-position:-62px -76px;
}
.search-box input{
	position:absolute;
	background:rgba(0,0,0,0);
	border:none;
	outline:none;
	height:22px;
	line-height:22px;
	color:#fff;
	top:3px;
}
.search-btn2{
	position:absolute;
	height:24px;
	right:6px;
	width:42px;
	display:inline-block;
	background-position:-210px -75px;

}


.a-w-sel{
	position:absolute;
	top:100%;
	left:-100%;
	z-index:100;
	transition:0.3s;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-moz-transition:0.3s;
}
.a-w-sel-1,.a-w-sel-2{
	width:226px;
}
.a-w-sel-3{
	width:450px;
}
.a-w-sel-4{
	width:454px;
	height:209px;
}
.arrow,
.nx-1,
.nx-2,
.nx-3,
.nx-4,
.nx-5,
.nx-6,
.nx-7,
.nx-8,.sctag_1,.sctag_2,.name{
	background:url("../lofter-master/images/icon4-24.png") no-repeat;
}
.arrow{
	height:8px;
	width:100%;
	background-position:105px -15px;
}
.a-w-sel .w-sel .selc{
	margin-top:0;
	box-sizing: border-box;
	width:100%;
	left:-100%;
	z-index:100;
	box-shadow:0px 0px 5px #333;
	-moz-box-shadow:0 0 5px #333;
	-webkit-box-shadow:0 0 5px #333;
	-o-box-shadow:0 0 5px #333;
}
.w-sel .selc .seli{
	width:100%;
	background:#191919;
	margin-top:0;
	border-top: 1px solid #202020;
	border-bottom: 1px solid #0c0c0c;
	box-sizing: border-box;
}
.w-sel .selc .seli-w-1{
	height:40px;
	line-height:40px;
	color:#888;
	width:100%;
	background:#191919;
	margin-top:0;
}
.w-sel .selc .seli-w-1 span{
	padding-left:18px;
}
.w-sel .selc .seli-w-2{
	position:relative;
	display:block;
	height:36px;
	padding:7px 50px 9px 17px; 
}
.selc .seli-w-2 .name{
	height:18px;
	line-height:18px;
	padding-left:22px;
	color:#888;
	background-position:0 -111px;
}
.selc .seli-w-2:hover .name{
	color:#fff;
	background-position:-238px -111px;
}
.selc .seli-w-2 .img{
	display:block;
	height:34px;
	width:34px;
	position:absolute;
	right:10px;
	top:10px;
}
.selc .seli-w-2 .count{
	height:14px;
	line-height:14px;
	padding:4px 0 0 22px;
	color:#888;
}
.selc .seli-w-1 a{
	display:block;
	width:147px;
	padding:0px 40px;
	font-size:12px;
	line-height:41px;
	text-align:left;
}
.nx-1{
	background-position:16px -259px;
}
.nx-1:hover{
	background-position:-215px -259px;
}
.nx-2{
	background-position:17px -299px;
}
.nx-2:hover{
	background-position:-214px -299px;
}
.nx-3{
	background-position:16px -712px;
}
.nx-3:hover{
	background-position:-217px -712px;
}
.nx-4{
	background-position:18px -339px;
}
.nx-4:hover{
	background-position:-213px -339px;
}
.nx-5{
	background-position:17px -1017px;
}
.nx-5:hover{
	background-position:-214px -1017px;
}
.nx-6{
	background-position:16px -809px;
}
.nx-6:hover{
	background-position:-217px -809px;
}
.nx-7{
	background-position:16px -381px;
}
.nx-7:hover{
	background-position:-215px -381px;
}
.nx-8{
	background-position:16px -419px;
}
.nx-8:hover{
	background-position:-215px -419px;
}

.m-ssch2{
	height:230px;
	width:230px;
	z-index:100;
}
.m-ssch2 .sugbox{
	width:100%;
	height:100%;
	box-shadow:0px 0px 5px #333;
	-moz-box-shadow:0 0 5px #333;
	-webkit-box-shadow:0 0 5px #333;
	-o-box-shadow:0 0 5px #333;

}
.sugbox .sugitm{
	height:41px;
	width:100%;
	background:#191919;
	border-top: 1px solid #202020;
	border-bottom: 1px solid #0c0c0c;
}
.sugbox .sugitm a{
	padding:0 40px;
	width:150px;
	text-align:center;
	height:41px;
	line-height:41px;
	font-size:12px;
	color:#AAA;
}
.sugbox .sugitm .active1{
	color:#fff;
}
.sctag_1{
	background-position:18px -111px;
}
.sctag_1:hover{
	background-position:-220px -111px;
}
.sctag_2{
	background-position:18px -473px;
}
.sctag_2:hover{
	background-position:-220px -473px;
}
/*end hearder*/

.content{
	margin-top:30px;
	background:#ededef;
}

/*left js部分css*/
.a-w-sel-3 .seli-w-3{
	border-top: 1px solid #202020;
	border-bottom: 1px solid #0c0c0c;
}
.seli-w-3 .m-glist-1{
	height:30px;
	padding:20px;
	border:none;
}
.seli-do{
	width:100%;
	background:#191919;
	margin-top:0;
}
.seli-w-3 .m-glist-1{
	float:left;
	text-align:left;
}
.seli-w-3 .m-glist-1 .w-img a{
	display:block;
}
.seli-w-3 .m-glist-1 .w-img{
	position:relative;
	height:30px;
	width:30px;
	display:inline-block;
	margin:2px 10px 0 0;
}
.seli-w-3 .m-glist-1 .bloginfo{
	width:210px;
	display:inline-block;
}
.seli-w-3 .m-glist-1 .bloginfo .name-do{
	color:#ccc;
	margin:0 10px 0 0;
}
.bloginfo .subinfo{
	margin-top:5px;
}
.bloginfo .subinfo a{
	color:#888;
}
.bloginfo .subinfo a:hover{
	color:#fff;
}

.seli-w-3 .m-glist-1 .blogmenu{
	display:inline-block;
	width:117px;
	height:32px;
}
.blogmenu .menu{
	position:relative;
	height:100%;
	width:40px;
}
.menu .menubtn{
	display:block;
	background:url('../lofter-master/images/icon5-24.png') no-repeat;
	background-position:5px -344px;
	height:28px;
	width:28px;
}
.menu .menulist{
	position:absolute;
	height:62px;
	width:100px;
	background:#333;
	left:-38px;
	top:40px;
}
.menulist .arrow{
	position:absolute;
	left: 47px;
	top: -10px;
	width: 0;/*高度宽度必须设为0，这里比较重要 */
	height: 0;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #333 transparent;

}
.menulist li{
	height:30px;
	border-bottom:1px solid #3d3d3d;
	padding:0 0 0 15px;
}
.menulist li a{
	height:30px;
	line-height:30px;
	color:#888;
	cursor:pointer;
	text-align:left;
}
.menulist li a:hover{
	color:#fff;
}
.blogmenu .followbtn{
	margin-right:20px;
}
.followbtn .ubtn{
	width:66px;
	height:30px;
	display:inline-block;
	margin: 2px 0 0;
	background: #7CA600\9;
	background: -ms-linear-gradient(top, #84af00 0%, #79a200 100%);
	background: -moz-linear-gradient(top, #84af00 0%, #79a200 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84af00), color-stop(100%,#79a200));
	background: -webkit-linear-gradient(top, #84af00 0%,#79a200 100%);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	letter-spacing: 3px;
	line-height: 28px;
	text-align: center;
}
.seli-w-3 ul{
	 margin-left:20px
}
.seli-w-3 .item{
	float:left;
	width:130px;
	height:98px;
	display:inline-block;
	position:relative;
	margin:0 10px 0 0;
}
.item:hover .item-cover{
	display:block;
}
.item .item-cover{
	display:none;
	position:absolute;
	height:98px;
	width:130px;
	float:left;
	top:0;
	left:0;
    background:#5a8dcd;
	opacity:0.4;
	filter:(opacity=0);
}
.seli-w .m-daren{
	margin-left:20px;
}
.seli-w .m-daren-do{
	height:56px;
	line-height:56px;
}
.seli-w .m-daren span{
	color:#666666;
}
.seli-w .m-daren a{
	color:#666666;
}
.seli-w .m-daren a:hover{
	color:#fff;
}


.seli-w-3 .ztag{
	height:140px;
	width:100%;
	padding-top:20px;
	padding-left:0;
}
.ztag li{
	height:140px;
}
.seli-w .m-glist2{
	background-position:0 -845px;
	margin-top:10px;
	padding-left:18px;
	text-align:left;
}
.m-glist2{
	background:url('../lofter-master/images/icn3.png') no-repeat;
}
.m-glist2 a{
	height:30px;
	line-height:30px;
	font-size:14px;
}
.m-glist2 a span{
	position:absolute;
	height:30px;
	line-height:30px;
	padding-left:18px;
}
/*left-box start*/
.left-box{
	float:left;
	height:800px;
	width:670px;
}
.left-box .publishBarArea{
	width:100%;
	box-shadow:0px 1px 1px #BDBDBF;
}
.publishBarArea li{
	float:left;
}
.publishBarArea li.user a{
	width:110px;
}
.publishBarArea li a{
	background: url("../lofter-master/images/nav224.png") no-repeat;
    display: block;
    height: 110px;
    width: 140px;
}
.publishBarArea .character{
    background-position: -113px 0;
}
.publishBarArea .image{
    background-position: -252px 0;
}

.publishBarArea .music{
    background-position: -392px 0;
}

.publishBarArea .video{
    background-position: -533px 0;
}
.publishBarArea .character:hover{
	background-position: -113px -132px;
}
.publishBarArea .image:hover{
    background-position: -252px -132px;
}
.publishBarArea .music:hover{
    background-position: -392px -132px;
}
.publishBarArea .video:hover{
    background-position: -533px -132px;
}

.left-box .article{
	width:100%;
	height:1000px;
	margin-top:30px;
	position:relative;
}
.article .article-box{
	margin-bottom: 15px;
    position: relative;
    min-height: 100px;
}
.article-box .article-author{
	top:0;
	left:0;
	position:absolute;
    padding: 1px 2px 3px;
	background:url("../lofter-master/images/img24-020.png") no-repeat;
	background-position:0 0;
}
.article-box .article-main{
	width:585px;
	float:right;
	position:relative;
}
.isayt,
.isayc,
.isaym,
.isayb{
	background:url("../lofter-master/images/isay24-021.png") no-repeat;
}

.article-main .isayt {
    height: 24px;
    position: relative;
    background-position: -2295px 0;
}
.article-hasface .isayt,
.article-ad .isayt {
    background-position: 0 0;
}

.isayt .isayc{
	height:20px;
	width:20px;
	top:0;
	right:0;
	display:block;
	position:absolute;
	background-position:-671px 0;
}
.isayt a {
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
	background:url("../lofter-master/images/isay24-021.png") no-repeat;
}
.isayt a:hover .isayc{
    background-position: -901px 0;
}
.article-main:hover .isayc {
    background-position: -787px 0;
}
.article-main .isaym {
    color: #444;
    position: relative;
    background-repeat: repeat-y;
    background-position: -1015px 0;
}
.article-title,
.article-content,
.article-expand{
    width: 500px;
    float: right;
    line-height: 1.6em;
    font-size: 14px;
    margin-right: 30px;
}
.article-title h2{
	font-weight: normal;
    height: 30px;
    line-height: 30px;
}
.isaym .article-title{
	height:50px;
}
.article-content p{
	margin:0 0 10px;
}
.isaym .article-expand {
    height: 30px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 12px;
}

.article-expand a{
	color: #aaa;
	text-decoration: none;
}
.article-expand a:hover,
.article-manage li a:hover{
    color: #7594b3;
}

.article-expand .icon{
	display:inline-block;
	height:15px;
	width:15px;
    background-position: right -2617px;
}
.isaym .article-manage{
	float:right;
	height:30px;
	line-height:30px;
	margin-right:30px;
	margin-bottom:20px;
}
.article-manage li{
	float:left;
	padding-left:20px;
}
.article-manage li a{
	color: #aaa;
	text-decoration: none;
}
.article-main .isayb{
	top:0;
    width: 100%;
    height: 3px;
    background-position: -1649px 0;
}
.isaym .w-who{
	position:relative;
	height:30px;
}
.w-who a{
	color:#888;
}
.w-who .whosep{
	color:#aaa;
}
.w-who .w-icn2{
	height:17px;
	width:17px;
	display:inline-block;
	background:url("../lofter-master/images/icon2-8.png") no-repeat;
	background-position:-88px -1968px;
}
.article-manage .w-icn{
	width:20px;
	height:25px;
	display:inline-block;
	background-position:0 -2752px;
}
.article-manage .w-icn:hover{
	background-position:0 -2718px;
}

.isaym .article-opt{
	float:left;
	margin-left:32px;
}
.isaym .article-opt li{
	position:relative;
}
.article-opt .opti{
	height:14px;
	width:17px;
	position:relative;
	white-space:nowrap;
	display:inline-block;
	background-position:0 -103px;
}
.m-cint .img{
	width:100%;
	margin:0 25px 5px 0;
}
.img .imgc{
	float:left;
	position:relative;
	z-index:5;
	overflow:hidden;
}
.imgc .shadow-numb{
	height:20px;
	width:20px;
	line-height:30px;
	text-decoration:none;
	color:#FFFFFF;
	text-align:center;
	font-size:12px;
	top:95px;
	left:141px;
	position:absolute;
	background: rgba(0, 0, 0, .2)
}

.img .text-box{
	float:left;
	position:relative;
	z-index:3;
	top:-2px;
	left:25px;
}
.img .text-box a{
	color:#444;
	outline:none;
	text-decoration:underline;
}
.img .text-box a:hover{
	color:#7594b3;
}
/*end left-box*/

/*right-box start*/
.content .right-box{
	float:right;
	width:230px;
}
.right-box .m-menu,.advertisement{
	box-sizing: border-box;
    border: 1px solid #D1D1D2;
    box-shadow: 0 2px 5px #B6B6B7;
	width:230px;
}
.m-menu li{
	position:relative;
	display:block;
	border-top:1px solid  #E3E3E5;
	height:40px;
	width:213px;
	background-color:#F3F3F3;
	padding-left:16px;
	-webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.m-menu li.blogmanage{
	height:55px;
	width:229px;
	padding-left:0px;
}
.m-menu li.blogmanage:hover {
    background-color: #f3f3f3;
}
.m-menu li .personal-column{
	width:155px;
	height:55px;
	border-right: 1px solid #dfdfdf;
    padding-left: 16px;
}
.blogmanage .personal-column span{
	display:block;
	line-height:18px;
	white-space: nowrap;
	color:#444;
	float:left;
}
.m-menu .personal-column span.summer{
	margin-top:10px;
	font-weight:bold;
	font-size:14px;
}
.m-menu li.blogmanage a{
	position:absolute;
	height:55px;
	width:55px;
	top:0;
	right:0;
	outline:none;
	border-left:1px solid #fff;
	background-color: #f3f3f3;
	background:url("../lofter-master/images/icon4-24.png") no-repeat;
	background-position:-196px -147px
}
.m-menu li a{
	display:block;
	height:100%;
	width:100%;
	text-decoration:none;
	color: #444;
}
.m-menu li:hover {
    background-color: #fff;
}
.m-menu li a:hover{
	background-color:#fff;
	-webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.m-menu li a:hover{
	background-color:#fff;
	-webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.m-menu li.noipt:hover{
	background-color:#fff;
}
.m-menu li .personal-column:hover{
	background-color:#fff;	
	-webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.m-menu li .crtp{
	position: absolute;
	background: url("../lofter-master/images/menu24.png") no-repeat;
	top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    overflow: hidden;
    background-position: -1147px 0;
}
.m-menu li.noipt{
	background-color:#E7E7E7;
	height:35px;
}
.m-menu li.noipt .text{
	color:#888888;

}
.m-menu li .icon{
	height:15px;
	width:15px;
	display:inline-block;
	margin:10px 10px 0 0;
	background: url("../lofter-master/images/icon24.png") no-repeat;	

}
.m-menu li .icon-1{
	background-position:0 -1684px;
}
.m-menu li .text{
	color:#444;
	display:inline-block;
	height:40px;
	font-size:14px;
	line-height:40px;
}
.m-menu li .tip{
	position:absolute;
	color:#444;
	display:inline-block;
	height:40px;
	line-height:40px;
	top:0;
	right:23px;
}
.m-menu li .icon-1{
	 background-position: 0 -1684px;
}
.m-menu li .icon-2{
	 background-position: 0 -288px;
}
.m-menu li .icon-3{
	 background-position: 0 -1823px;
}
.m-menu li .icon-4{
	 background-position: 0 -1965px;
}
.m-menu li .icon-5{
	 background-position: 0 -1601px;
}
/*end m-menu*/
.container .right-box{
	float: right;
    width: 230px;
    margin-bottom: 100px;
}
.right-box .advertisement{
	margin-top:20px;
	height:100%;
	box-sizing:border-box;
	background-color:#fff;
	position:relative;
}
.advertisement .top-ad{
	height:98px;
	width:100%;
	position:relative;
}
.top-ad .shadow-text{
	height:98px;
	width:100%;
	line-height:98px;
	text-decoration:none;
	color:#FFFFFF;
	text-align:center;
	font-size:16px;
	top:0;
	left:0;
	position:absolute;
	background: rgba(0, 0, 0, .3);
}
.advertisement .topic{
    overflow: hidden;
    height: 35px;
    width: 100%;
    line-height: 35px;
	background-color:#E9E9E9;
}
.advertisement .topic:hover{
	background-color:#fff;	
	transition: background-color .3s ease;
	-webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
}
.icon,
.w-icn,
.opti{
	background: url("../lofter-master/images/icon24-042.png") no-repeat;
}
.advertisement .topic .icon{
	height:15px;
	width:15px;
	display:inline-block;
	margin:10px 10px 0 0;
}
.advertisement .topic .icon-6{
    background-position: 5px -3342px;
}
.advertisement .topic .text{
	height:33px;
	line-height:33px;
	color:#888888;

}
/*end top-ad*/
.advertisement .more-topic{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:279px;
	background-color:#fff;
	border-bottom:#C9C9CA;
	box-shadow:0 1px 3px #b6b6b7;
}
.advertisement .ad-top{
	box-shadow: 0 1px 3px #B6B6B7;
	position: relative;
}
.advertisement .more-topic .title{
    height: 25px;
    line-height: 25px;
    color: #333;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding-left: 10px;	
}
.advertisement .more-topic span{
	padding-left: 10px;
    display: block;
    height: 19px;
    line-height: 19px;
    color: #999;
    font-size: 11px;
}
.advertisement .more-topic li{
	float:left;
    margin-left: 10px;
    margin-top: 10px;
	position:relative;
}
.more-topic .img-shadow {
    display: none;
    height: 100px;
    width: 100px;
	top:0;
	left:0px;
    position: absolute;
    background: rgba(0, 0, 0, .3);
}
.more-topic li:hover .img-shadow {
	display:block;	
}
/*end right-box*/